*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GIV{
    padding: 40px;
    color: black;
    height: auto;
    align-items: center;
    display : grid;
    gap: 40px;
    width: 55%;
    margin: auto;
    box-shadow: 0 0 3px 0 rgba(16,137,254,255);
    margin-bottom:20px;
}

.title{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;  
    text-align: center;  
    background-color: rgb(16,137,254,255);
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
header{
    padding-bottom: 50px;
}

.input{
    width: auto;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
    grid-column: apan 1;
}

.input:active,
.input:focus{
    outline: none;
}

.submit{
    width: 100%;
    padding: 10px;
    background-color: rgb(16,137,254,255);
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    align-items: center;
    display: center;
    text-align: center;
    margin: auto;
    align-content: center;
    border-radius: 3px;
}

.logo{
    display: block;
    margin:auto;
    width: 10%;
    padding: 10px;
}
