#dependencies
/node_modules
/react/.pnp
/react/.pnp.js
/react/node_modules
/react/node_modules
/node/node_modules

# testing
/react/coverage

# production
/react//build

# misc
/react/.DS_Store
/react/.env.local
/react/.env.development.local
/react/.env.test.local
/react/.env.production.local

/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*

