# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/node_modules
/node/node_modules
/node-api/node_modules
/node_modules
/react/.pnp
.pnp.js

# testing
/react/coverage

# production
/react/build

# misc
/react/.DS_Store
/react/.env.local
/react/.env.development.local
/react/.env.test.local
/react/.env.production.local
/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*
